
<div class='maps_container' style='width: 704px;'>
	<div id='multi_markers' style='width: 700px; height: 400px;'>
	</div>
</div>
<div class='adding_schedule'></div>


<script>
$(document).on('turbolinks:load', function() {
	var handler = Gmaps.build('Google');
	handler.buildMap({provider: { scrollwheel: true }, internal: {id: 'multi_markers'}}, function(){
		markers = handler.addMarkers([
			<% @ticket_coordinates.each_with_index do |ticket, i| %>

			    {
			      "lat": <%=ticket[0]%>,
			      "lng": <%=ticket[1]%>,
			      "infowindow": `
					<%@tickets_array[i].each do |text|%>
						<% if text.include? "Customer Name:"%>
							<%text.slice! "Customer Name:"%>
							<%if text != ""%>
								<h1><%=text%></h1><hr>
							<% end %>
						<% elsif text.include? "Customer Phone:"%>
							<%text.slice! "Customer Phone:"%>
							<h1><%=text.gsub(/\s+/, "")%></h1><hr>
						<% elsif text.include? "Primary Problem:"%>
							<%text.slice! "Primary Problem:"%>
							<h1><%=text%></h1><hr>
						
						<% end %>
					<% end %>
			      `
			    },
			<% end %>
  ]);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});
	console.log(<%=@ticket_coordinates%>)
});
</script>