
<div class='maps_container' style='width: 704px;'>
	<div id='multi_markers' style='width: 700px; height: 400px;'>
	</div>
</div>
<div class='adding_schedule'></div>


<script>
var handler = Gmaps.build('Google');
handler.buildMap({provider: { scrollwheel: true }, internal: {id: 'multi_markers'}}, function(){
	markers = handler.addMarkers([
		<% @ticket_coordinates.each_with_index do |ticket, i| %>

		    {
		      "lat": <%=ticket[0]%>,
		      "lng": <%=ticket[1]%>,
		      "infowindow": `
			      <div class="push_left">
					<%@tickets_array[i].each do |text|%>
						<% if text.include? "Customer Name:"%>
							<%text.slice! "Customer Name:"%>
							<%if text != ""%>
								Customer Name:  <%=text%><hr>
							<% end %>
						<% elsif text.include? "Customer Phone:"%>
							<%text.slice! "Customer Phone:"%>
							Customer Phone:  <%=text.gsub(/\s+/, "")%><hr>
						<% elsif text.include? "Primary Problem:"%>
							<%text.slice! "Primary Problem:"%>
							Primary Problem:  <%=text%><hr>
						<% elsif text.include? "TICKET #:"%>
							<%text.slice! "TICKET #:"%>
							Ticket #:  <%=text.gsub(/\s+/, "")%><hr>
						<% end %>
					<% end %>
				</div>
		      `
		    },
		<% end %>
	]);
handler.bounds.extendWith(markers);
handler.fitMapToBounds();
});
console.log(<%=@ticket_coordinates%>)
</script>